@page
@model OdeToFood.Pages.Restarants.ClientRestarantModel
@{
    ViewData["Title"] = "ClientRestarants";
}

<h2>Client Restarant</h2>

<table class="table" id="restarant">

</table>

@section Scripts {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>


    <script>
        $(function () {
            $.ajax("api/restarant",
                { method: "get" })
                .then(function (response) {
                    $("#restarant").dataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            { "data": "cuisine" }
                        ]
                    });
                });
        });
    </script>
}