@model AddAnimalViewModel;
@using AnimalFarm.Core.Domain
@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Animals";
}
<div class="jumbotron">
    <div class="d-flex justify-content-center">
        <div>
            @{
                var animalTypes = Html.GetEnumSelectList(typeof(AnimalTypes));
            }
            <div class="flex-row">
                @Html.LabelFor(a => a.SelectedAnimalType,"Animal Selection" ,new{ @class = "form-control"})
            </div>
            <div class="flex-row">
                @Html.DropDownListFor(a=>a.SelectedAnimalType, animalTypes, "Please Select", new{@class = "form-control form-control-lg"})
            </div>
    
            <div class="flex-row">
                @Html.LabelFor(a=>a.AnimalName, "Name", new {@class = "form-control"})
            </div>
            <div class="flex-row">
            @Html.TextBoxFor(a => a.AnimalName, new {@class = "form-control"})
            <br/>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-lg btn-primary" type="submit" value="Submit"/>
                </div>
            </div>
        </div>
    </div>
</div>