@using AnimalFarm.Core.Domain
@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Animals";
}

<h1>Welcome to my Animal Aplication</h1>

<form>
    <label>Please add an animal:</label>
    <select>
        @foreach (var option in Enum.GetValues(typeof(AnimalTypes)))
        {
            <option value="@Convert.ToInt32(option)">@option</option>
        }

    </select>

    <label>Enter a name:</label>
    <input type="text"/>
    <input type="button" value="Submit"/>
</form>
