@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Animals";
}

<h1>Add Animal</h1>

<select>
    <option value="Dog">Dog</option>
    <option value="Cat">Cat</option>
    <option value="Elephant">Elephant</option>
    <option value="salmon">Salmon</option>
    <option value="Eagle">Eagle</option>
    <option value="Penguin">Penguin</option>
</select>