@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Animals";
}

<h1>Add Animal</h1>

<select>
    <option value="1">Dog</option>
    <option value="2">Cat</option>
    <option value="3">Elephant</option>
    <option value="4">Salmon</option>
    <option value="5">Penguin</option>
    <option value="7">Eagle</option>
</select>