@model AnimalFarmViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <div class="main">
        <h4>Main Menu</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="btn-group-vertical">
            <a asp-controller="Home" asp-action="AddAnimal" class="btn btn-lg btn-primary">Add Animal</a>
            <a asp-controller="Home" asp-action="InteractWithOneAnimal" class="btn btn-lg btn-primary">Interact With One Animal</a>
            <a asp-controller="Home" asp-action="InteractWithAllAnimals" class="btn btn-lg btn-primary">Interact With All Animals</a>
            
            <div>
            </div>
        </div>
    </div>
    <div>
        <h5>Your List contains:</h5>
        @foreach (var animal in Model.Animals)

        {
            <li>@animal.Type, @animal.Name</li>
        }
        
        <h1>
            @TempData["AnimalVm"];
        </h1>
        
    </div>
</div>
