@{
    ViewData["Title"] = "Home Page";
}
<section class="mainPage">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>My Animal Farm Application</h1>
        </div>
        <div class="main">
            <h4>Main Menu</h4>
            <button>Add Animal</button>
            <button>Interact with an animal</button>
            <button>Interact with all animals</button>
            <button>Exit</button>
        </div>
    </div>
</section>