@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
    <div>
        <div class="jumbotron text-center">
            <h1>My Animal Farm Application</h1>
        </div>
        <div class="main">
            <h4>Main Menu</h4>
            <a asp-area="" asp-route="/AddAnimal">Add Animal</a>
            <a asp-area="" asp-page ="/InteractWithOneAnimal">Interact With One Animal</a>
            <a asp-area="" asp-page="/InteractWithAllAnimals">Interact With All Animals</a>
        </div>
    </div>
