@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1>
            My Animal Farm Application
        </h1>
    </div>
    <div>
        <nav>
        </nav>
    </div>
    <div class="col-md-2"><h4>Main Menu</h4></div>
    <div class="col-md-10">
        <button>Add Animal</button>
        <button>Interact with an animal</button>
        <button>Interact with all animals</button>
        <button>Exit</button>
    </div>
        
</div>