@using AnimalFarm.Core.Domain
@{
    Layout = "_Layout";
    ViewData["Title"] = "Interact With All Animals";
}
<div>
    <h1>
        Here you will be able to interact with all your animals at once.
    </h1>
</div>
<div>
    <h1>
        What would you like your animals to do?
    </h1>
</div>
<select>
    <div>
        @foreach (var action in Enum.GetValues(typeof(AnimalActions)))
        {
          <option value="@Convert.ToInt32(action)">@action</option>  
        }
    </div>
</select>