@model InteractWithAllAnimalsViewModel;
@using AnimalFarm.Core.Domain
@{
    Layout = "_Layout";
    ViewData["Title"] = "Interact With All Animals";
}


<div class="jumbotron">
    <div class="d-flex justify-content-center">
        <div>
            <div>
                <h4>Here you will be able to interact with all your animals at once.</h4>
            </div>
            <div>
                <h4>What would you like your animals to do?</h4>
            </div>
                @{
                    var animalActions = Html.GetEnumSelectList(typeof(AnimalActions));
                }
            <br/>
            <div class="d-flex justify-content-center">
                <div class="col-md-4">
                    @Html.DropDownListFor(a=>a.AnimalActions, animalActions, "Please Select", new {@class = "form-control"})
                </div>
            </div>
            <br/>
            <div class="d-flex justify-content-center">
                <input class="btn btn-lg btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </div>
</div>
