@using AnimalFarm.Core.Domain
@{
    Layout = "_Layout";
    ViewData["Title"] = "Interact With One Animal";
}

<div class="jumbotron">
    <div class="d-flex justify-content-center">
        <div>
            <div>
                <h4>Here you will be able to interact with your animals</h4>
                <select class="d-flex justify-content-center">
                    @foreach (var animal in Enum.GetValues(typeof(AnimalTypes)))
                    {
                        <option value="@Convert.ToInt32(animal)">@animal</option>
                    }
                </select>
            </div>
            <div>
                <h4>What Animal would you like to interact with?</h4>
                <select>
                    @foreach (var action in Enum.GetValues(typeof(AnimalActions)))
                    {
                        <option value="@Convert.ToInt32(action)">@action</option>   
                    }
                </select>
            </div>
        </div>
    </div>
</div>





