.mainPage h4{
    text-align: center;
}

.mainPage button{
    display: flex;
    background: blue;
    flex-direction: row;
    border-radius: 15px;
    width: 185px;
    color: #ffffff;
    
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand svg{
    display: flex;
    width: 1.5em;
    height: auto;
    flex-direction: row;
}