/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

nav {
    background-color: #555652;
    color: red;
    height: 60px:
}

a {
    padding-left: 30px;
}