@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        there are @Enumerable.Count(Model) number of restaurants in the db.
    </div>
</div>

<div>
    
</div>
