/* MyStyleSheet.css */

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;

}

.nav {
    padding: 10px 0px 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    text-decoration: none;
}

.imgNav {
    padding: 10px 20px 0px 15px ;
    width: 5%;
}

.imageBody{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
    list-style-type: none;
    margin-left: 30%;

}

.right {
    float: right;
    list-style-type: none;
    margin-right: 30%;
}