@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>


<div class="hero-image about" style="height: 50%;">
    <img  />
    <div class="hero-text">
        <h1>Text</h1>
    </div>
</div>

<div>

</div>