@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<main>
    <div class="hero-image">
        <img src="~/images/PicksTable.jpg" alt="Picks Table" />
        <div class="hero-text">
        </div>
    </div>
</main>