@{
    ViewData["Title"] = "Home Page";
}


<div>
    Image is here- Please come back later...
</div>



<div class="container-fluid">
    <h1>
        About RapX Group
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Neque egestas congue quisque egestas diam in arcu cursus euismod. Vitae tortor condimentum
        lacinia quis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Neque egestas congue quisque egestas diam in arcu cursus euismod. Vitae tortor
        condimentum lacinia quis.
    </p>
    <h6>
        <strong>
            RapX MINING SOLUTIONS (PTY) LTD | RapX ENGINEERED MINING TECHNOLOGIES (PTY) LTD
            <br />
            RapX MASHIMBYE Joint Venture (Mpumalanga) | RapX DIVATS Joint Venture (North West)
        </strong>
    </h6>
</div>

<div class="container-fluid">
    <h1>
        Our Products
    </h1>
    <div class="row">
        <div class="column">
            <img />
            <img />
            <img />
            <img />
        </div>
    </div>
</div>