@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container-fluid">

    <!--Indicators-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="container-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    <!--setting hte container-->
        <div class="carousel-inner">
            <div class="item-active" style="height: 100%;">
                <img src="~/images/3xMenStanding" alt="Men Standing" style="width: 100%; position:relative" />
                <div class="carousel-caption">
                    <h3>Profecional Expertise</h3>
                    <h2>YOU CAN TRUST</h2>
                    <p>
                        Since our Begining. We have worked tirelessly to earn
                    <br/>
                        our reputation for quality, service and dependability</p>
                </div>
            </div>
        </div>
    </div>
</div>