@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <section>
        <div class="flexbox">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Egestas sed tempus urna et pharetra
                        pharetra massa. Ipsum faucibus vitae aliquet nec. Pellentesque pulvinar
                        pellentesque habitant morbi tristique senectus et. Ac turpis egestas integer
                        eget aliquet nibh. Morbi quis commodo odio aenean sed adipiscing. Ut porttitor
                        leo a diam sollicitudin tempor id eu. Ultrices gravida dictum fusce ut placerat
                        orci nulla pellentesque dignissim. Et malesuada fames ac turpis egestas sed
                        tempus urna et. Sodales ut etiam sit amet nisl purus in. Risus sed vulputate
                        odio ut enim. Adipiscing bibendum est ultricies integer quis. Vitae auctor eu
                        augue ut lectus arcu. Eget gravida cum sociis natoque penatibus et. Mauris in
                        aliquam sem fringilla ut morbi tincidunt. In est ante in nibh mauris cursus mattis
                        molestie a. Sagittis eu volutpat odio facilisis mauris sit amet massa vitae.
                        Amet est placerat in egestas erat imperdiet sed.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Egestas sed tempus urna et pharetra
                        pharetra massa. Ipsum faucibus vitae aliquet nec. Pellentesque pulvinar
                        pellentesque habitant morbi tristique senectus et. Ac turpis egestas integer
                        eget aliquet nibh. Morbi quis commodo odio aenean sed adipiscing. Ut porttitor
                        leo a diam sollicitudin tempor id eu. Ultrices gravida dictum fusce ut placerat
                        orci nulla pellentesque dignissim. Et malesuada fames ac turpis egestas sed
                        tempus urna et. Sodales ut etiam sit amet nisl purus in. Risus sed vulputate
                        odio ut enim. Adipiscing bibendum est ultricies integer quis. Vitae auctor eu
                        augue ut lectus arcu. Eget gravida cum sociis natoque penatibus et. Mauris in
                        aliquam sem fringilla ut morbi tincidunt. In est ante in nibh mauris cursus mattis
                        molestie a. Sagittis eu volutpat odio facilisis mauris sit amet massa vitae.
                        Amet est placerat in egestas erat imperdiet sed.
                    </p>
                </div>
            </div>
        </div>
    </section>



