@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid" style="background-color: dodgerblue; height: 50%">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="active item" style="height: 100%">
                <img src="#" alt="1" style="width: 100%; position: relative" />
                <div class="carousel-caption">
                    <button>
                        Click ME!
                    </button>
                </div>
            </div>
            <div class="item" style="height:100%">
                <img src="#" alt="2" style="width: 100%; position: relative" />
            </div>
            <div class="item" style="height:100%">
                <img src="#" alt="3" style="width: 100%; position: relative" />
            </div>
        </div>
    </div>
</div>
<main>
    <div>
        <article>About Me:</article>
        <section>
            Text to go here.
        </section>
    </div>
</main>
