@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

   <div class="hero-image" >
       <div class="hero-text">
           <h1>I Am</h1>
           <p>Groot</p>
           <button>Click Me</button>
       </div>
   </div>

<br />

<div>
    <article>
        <h1>About Me:</h1>
        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                tristique et egestas quis. Facilisi nullam vehicula ipsum a arcu
                cursus. Lacinia quis vel eros donec ac odio. Tempor id eu nisl nunc
                mi. Sem integer vitae justo eget magna. Morbi tristique senectus
                et netus et. Lectus magna fringilla urna porttitor rhoncus dolor.
                Metus vulputate eu scelerisque felis imperdiet proin fermentum.
                Vestibulum sed arcu non odio euismod lacinia at quis risus.
                Mauris nunc congue nisi vitae. Pretium lectus quam id leo in
                vitae turpis. Malesuada nunc vel risus commodo viverra. Libero
                id faucibus nisl tincidunt eget nullam non. Pharetra diam sit
                amet nisl suscipit. Nec ullamcorper sit amet risus nullam eget.
                Non odio euismod lacinia at quis risus sed. Gravida dictum
                fusce ut placerat orci. Magna fringilla urna porttitor rhoncus
                dolor purus non enim. Consequat ac felis donec et odio pellentesque
            </p>

            <p>
                A erat nam at lectus urna duis convallis. At quis risus sed vulputate.
                Mus mauris vitae ultricies leo integer. Mattis molestie a iaculis at
                erat pellentesque. Felis bibendum ut tristique et egestas quis ipsum.
                Non curabitur gravida arcu ac tortor. Mattis molestie a iaculis at erat
                pellentesque adipiscing. Malesuada nunc vel risus commodo. In hac
                habitasse platea dictumst vestibulum rhoncus. Pellentesque id nibh
                tortor id aliquet lectus proin. Etiam tempor orci eu lobortis elementum
                nibh tellus molestie nunc.
            </p>

            <p>
                Cursus vitae congue mauris rhoncus aenean vel elit scelerisque.
                Volutpat est velit egestas dui id ornare arcu. Vitae proin sagittis
                nisl rhoncus mattis rhoncus urna neque. Fermentum odio eu feugiat
                pretium nibh ipsum consequat. Mauris pellentesque pulvinar pellentesque
                habitant morbi tristique senectus et. Tempus quam pellentesque nec nam
                aliquam sem. Eget mi proin sed libero enim sed. Cras pulvinar mattis
                nunc sed blandit libero. Nisl suscipit adipiscing bibendum est. Pharetra
                massa massa ultricies mi quis hendrerit dolor. Morbi leo urna molestie
                at elementum. Venenatis urna cursus eget nunc scelerisque. Gravida quis
                blandit turpis cursus in hac habitasse platea dictumst. Nascetur
                ridiculus mus mauris vitae. Enim ut tellus elementum sagittis vitae
                et leo duis. Suspendisse potenti nullam ac tortor vitae purus faucibus
                ornare.
            </p>
        </section>
    </article>
    
</div>

<div class="jumbotron" style="height: 400px">

</div>