@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

   <div class="hero-image">
       <div class="hero-text">
           <h1> I am John Doe</h1>
           <button>Click Me</button>
       </div>
   </div>
