@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="background-color: dodgerblue">

</div>
<main>
    <div>
        <article>About Me:</article>
        <section>
            Text to go here.
        </section>
    </div>
</main>
