@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="skills">
        <section class="header">
            <div class="content-box">
                <div class="banner-text">
                    <h2>Welcome</h2>
                    <p>this is the insight to my Portfolio</p>
                </div>
            </div>
        </section>
        <section id="skillMatrix" class="skill">
            <div class="content-box">
                <div class="container">
                    <h1>Skills</h1>
                    <p>a quick overview of my skill matrix.</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Proficiency</th>
                                <th>Ambition</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>HTML 5</td>
                                <td>3</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>CSS</td>
                                <td>3</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Bootstrap</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Javascript</td>
                                <td>1</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>ASP.NET Core</td>
                                <td>1</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section id="coursesDone" class="course">
            <div class="content-box">
                <div class="container">
                    <h1>Courses</h1>
                    <p>This section is all about courses I've done</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Institute</th>
                                <th>Date Done</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Excel Advanced</td>
                                <td>school</td>
                                <td>march 2015</td>
                            </tr>
                            <tr>
                                <td>HTML 5</td>
                                <td>LearnToCode.org</td>
                                <td>December 2019</td>
                            </tr>
                            <tr>
                                <td>CSS 3</td>
                                <td>LearnToCode.org</td>
                                <td>December 2019</td>
                            </tr>
                            <tr>
                                <td>CSS 4</td>
                                <td>W3 School</td>
                                <td>Febuary 2020</td>
                            </tr>
                            <tr>
                                <td>C# Fundamentals</td>
                                <td>PluralSight</td>
                                <td>December 2019</td>
                            </tr>
                            <tr>
                                <td>ASP.NET Core Fundamentals</td>
                                <td>PluralSight</td>
                                <td>December 2019</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>



-->
