@page
@model SkillMatrixModel
@{
    ViewData["Title"] = "Skill Matrix";
}

<div class="table-container" role="table" aria-label="Destintions">
    <div class="flex-table header" role="rowgroup">
        <div class="flex-row first" role="columnheader">Country</div>
        <div class="flex-row" role="columnheader">Events</div>
        <div class="flex-row" role="columnheader">Time</div>
        <div class="flex-row" role="columnheader">Fees</div>
    </div>
</div>