@page
@model SkillMatrixModel
@{
    ViewData["Title"] = "Skill Matrix";
}

    <div class="continer">
        <h2>skills matrix</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Proficiency</th>
                    <th>Interest</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HTML 5</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Bootstrap</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Forms</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>C#</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ASP.NET Core</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <h2>future skills to be acquired </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Course Aquired</th>
                    <th>Intended Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>C#</td>
                    <td>No</td>
                    <td>End 2020</td>
                </tr>
                <tr>
                    <td>ASP.NET Core</td>
                    <td>No</td>
                    <td>End 2020</td>
                </tr>
            </tbody>
        </table>

        <h2>courses completed</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Online/ Certificate</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Excel Basic - Advanced</td>
                    <td>Certificate</td>
                    <td>2015</td>
                </tr>
                <tr>
                    <td>Swift</td>
                    <td>Online</td>
                    <td>2019</td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>FreeToCode.Org</td>
                    <td>2019</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>FreeToCode.Org</td>
                    <td>2019</td>
                </tr>
                <tr>
                    <td>C# Fundamentals</td>
                    <td>PluralSight.com</td>
                    <td>2020</td>
                </tr>
                <tr>
                    <td>ASP.NET Core Fundamentals</td>
                    <td>PluralSight.com</td>
                    <td>2020</td>
                </tr>
            </tbody>
        </table>
    </div>