@model Bicycle.Data.Models.Components

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>
            @Html.DisplayFor(model => model.Make)
            @Html.DisplayFor(model => model.Model)
        </h4>
        
    </div>
}