@using Bicycle.Data.Models
@model System.Collections.Generic.IEnumerable<Bicycle.Data.Models.Components>


@{
    ViewBag.Title = "Index";
}

<h2>Component Shop</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    There are @Model.Count() component categories 
</p>


<div class="panel panel-default">
    @foreach (var item in Model)
    {
        <div class="panel-heading">
            @Html.DisplayFor(modelItem => item.Make)
        </div>
        
    }
</div>
