@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Your 1st ASp Web page</h1>

    <p>What will we do if this works </p>
</div>
