@page
@model Pages.Cars.List

@{
    Layout = null;
}

<div class="container align-content-center">
    <h1>Cars</h1>
    
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Colour</th>
            <th>Type</th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (var car in Model.Cars)
                {
                    <tr>
                        <td>@car.Make</td>
                        <td>@car.Model</td>
                        <td>@car.Colour</td>
                        <td>@car.carType</td>
                    </tr>
                }
        </tbody>
    </table>
</div>